<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smalabhw">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".H22Activity"
            android:parentActivityName=".Hw2Activity" />
        <activity
            android:name=".H12Activity"
            android:parentActivityName=".Hw1Activity" />
        <activity
            android:name=".H11Activity"
            android:parentActivityName=".Hw1Activity" />
        <activity
            android:name=".Hw4Activity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Hw3Activity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Hw2Activity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Hw1Activity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>